#bold {
  text-size: 20pt;
}
a {
  text-decoration: none;
  color: navyblue;
}
html {
  font-family: "Inter Tight", sans-serif, serif;
}
nav a {
    display: inline;
    margin-right: 0.5rem;
    text-decoration: none;
}
nav {
    background-color: yellow;
    color: black;
    padding: 0.5rem;
    margin: 1rem 0;
}
nav ul {
    padding: 0;
    margin: 0;
}
@media screen (max-width: 800px) {
  font-size: 15px;
}

